body {
  background-color: lightblue;
}
#border {
  border-color: #9932CC;
  border-style: ridge;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  color: #000000;
  text-decoration: underline;
}

h1 {
  font-family: sans-serif;
  color: red;
  text-align: center;
  font-size: 60px;
}
h2 {
  font-family: sans-serif;
  color: red;
  text-align: center;
  font-size: 50px;
}
#subheading {
  text-decoration: underline;
  color: red;
  text-align: center;
  font-size: 50px;
}

#start {
  font-family: impact;
  font-size: 30px;
  color: blue;
  text-align: center;
}
p {
  font-family: impact;
  font-size: 20px;
  color: blue;
  text-align: center;
}
